.content-wrapper {
    height: calc( 100vh - 200px);
    position: relative;
}

.search-wrapper {
    display: flex;
    justify-content: center;
}

.find-btn {
    background-color: #282c34;
    color: #fff;
    border: 1px solid #262626;
    padding: 10px 30px;
    box-shadow: 1px 2px 2px #262626;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 45%;
}

.search-time-container {
    display: flex;
    justify-content: space-around;
}

.time-section {
    border: 1px solid #ccc;
    padding: 15px 40px;
    box-shadow: 1px 1px 1px #ddd;
    background-color: #eee;
    height: 30px;
}
