.module-wrapper {
    padding: 10px;
    border: 1px solid aliceblue;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 1px 2px 2px #d1e2f1;
    margin-right: 25px;
    height: 280px;
    &:last-child {
        margin-right: 0;
    }
}

.content-wrapper {
    height: calc( 100vh - 200px);
    position: relative;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.find-btn {
    background-color: #282c34;
    color: #fff;
    border: 1px solid #262626;
    padding: 10px 30px;
    box-shadow: 1px 2px 2px #262626;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 45%;
}

.search-time-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time-section {
    border: 1px solid #ccc;
    padding: 0;
    background-color: #eee;
    height: 48px;
    width: 15%;
    align-items: center;
    display: grid;
    padding-bottom: 5px;
}

@media( max-width: 780px ) {
    .module-wrapper {
        margin-bottom: 20px;
        margin-right: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .search-wrapper {
        display: grid;
    }
    .content-wrapper {
        overflow-y: auto;
    }
    .search-time-container {
        display: grid;
    }
    .time-section {
        width: auto;
    }
    .find-btn {
        position: static;
        margin: 10px;
    }
}
