.select-container {
    display: grid;
    label {
        background-color: #aaa;
        padding: 10px;
        color: #fff;
        box-shadow: 1px 2px 2px #ddd;
        margin: 10px 10px;
    }
}

.custom-select-wrapper {
    position: relative;
    width: 160px;
    margin: 10px;
    background-color: #fff;

    &:before {
        border-left: 1px solid #ccc;
        content: "\00a0";
        position: absolute;
        right: 20px;
        z-index: 2;
        display: block;
        height: 32px;
    }
    &:after {
        content: "\25bc";
        position: absolute;
        right: 7px;
        top: 7.5px;
        color: #434343;
        font-size: smaller;
    }
    &.open-dropdown:after {
        content: "\25b2";
        position: absolute;
        right: 7px;
        top: 7.5px;
        color: #434343;
        font-size: smaller;
    
    }
}

.custom-select {
    list-style: none;
    display: grid;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-top: 0;
    margin: 0;
    padding-left: 0;
    cursor: pointer;
    position: absolute;
    width: 99%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 1px 1px 2px #CCC;
}

.custom-select.placeholder {
    color: #807777;
}

.custom-select-option {
    cursor: pointer;
    color: #000;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;

    &.selected-option {
        background-color: #b7d5ec;
    }
}

.diabled-option {
    display: none;
}

.input-container {
    height: 30px;
    border: 1.5px solid #ccc;
    padding-left: 10px;
    display: flex;
    border-radius: 2px;

    input {
        height: 99%;
        width: 99%;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
    }
}

.selected-value {
    text-align: left;
    &.add-padding {
        height: 30px;
        padding: 2.5px;
    }
}