.select-container {
    display: grid;
}

.custom-select-wrapper {
    position: relative;
    width: 160px;
    margin: 10px;
}

.custom-select {
    outline: none;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 10px;
    color: #000;
}

.custom-select.placeholder {
    color: #807777;
}

.custom-select-wrapper:before {
    border-left: 1px solid rgb(162, 162, 162);
    content: "\00a0";
    position: absolute;
    right: 15px;
    z-index: 2;
    display: block;
    height: 32px;
}

.custom-select-option {
    cursor: pointer;
    padding: 10px;
    color: #000;
}

.diabled-option {
    display: none;
}